<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Chat Application</title>
  <link rel="stylesheet" href="../css/chat/chat.css" />
  <style>
  #username-page{width:100%;height:100%;}
  .username-page-container{height:100%;}
  .chat-container{width:100%;height:100%;margin:0;}
  #chat-page ul{height:calc(100% - 100px);}
  #chat-page #messageForm{padding:0;}
  .form-group{margin-bottom:0;}
  .input-group{}
  #messageForm .input-group input{}
  .accent{position: fixed;width: 120px;left: 50%;margin-left: -60px;top: 40%;}
  </style>
</head>
<body>
<noscript>
  <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="username-page">
  <div class="username-page-container">
    <!-- <h1 class="title">Enter a username and room ID</h1> -->
    <form id="usernameForm" name="usernameForm">
    	<input type="hidden" th:value="${memDto.memId}"/>
      <div class="form-group">
        <input type="hidden" id="name" placeholder="Username" th:value="${sessionName}" autocomplete="off" class="form-control" />
      </div>
      <div class="form-group">
        <input type="hidden" id="room-id" placeholder="Room ID" th:value="${roomId}" autocomplete="off" class="form-control" />
      </div>
      <input type="hidden" id="chance" value="1">
      <div class="form-group">
        <button type="submit" id="test1" class="accent username-submit">Start Chatting</button>
      </div>
    </form>
  </div>
</div>


<div id="chat-page" class="hidden">
  <div class="chat-container">
    <div class="chat-header hidden">
      <h2>Chatroom [<span id="room-id-display"></span>]</h2>
    </div>
    <div class="connecting">
      Connecting...
    </div>
    <ul id="messageArea">
    	<th:block th:each="chatList : ${chatList}" th:if="${chatList.sender == sessionName && chatList.receiver == memDto.memName}">
			<li class="chat-message">
				<i th:text="${chatList.receiver}"></i>
				<span th:text="${chatList.sender}"></span>
				<p th:text="${chatList.content}"></p>
			</li>
		</th:block>
		<th:block th:each="chatList : ${chatList}" th:if="${chatList.sender == memDto.memName && chatList.receiver == sessionName}">
			<li class="chat-message">
				<i th:text="${chatList.receiver}"></i>
				<span th:text="${chatList.sender}"></span>
				<p th:text="${chatList.content}"></p>
			</li>
		</th:block>
    </ul>
    <form id="messageForm" name="messageForm" nameForm="messageForm">
      <div class="form-group">
        <div class="input-group clearfix">
        	<input type="hidden" id="sender" name="sender" th:value="${sessionName}">
        	<input type="hidden" id="receiver" name="receiver" th:value="${memDto.memName}"/>
        	<input type="hidden" id="roomId" name="roomId" th:value="${roomId}"/>
          <input type="text" id="message" name="content" autocomplete="off" class="form-control"/>
          <button type="submit" id="sendBtn" class="primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/js/common/jquery-1.9.1.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/webjars/js-cookie/js.cookie.js"></script>
<script src="/js/chat/chat.js"></script>
</body>
</html>