<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>문서양식 폼</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

<div th:replace="fragments/aside :: asideFragmentApproval"></div>

<!-- //무조건 section 안에서 내용 작성 -->
<div layout:fragment="content" class="section">

<div align="center">
<h2>기안하기 - 문서양식 고르는 폼</h2>
	<table border="1" >
		<tr>
			<td>문서명</td>
			<td>문서내용</td>
		</tr>
		<tr th:each="approval:${approvalDocList}">
			<td> <a th:href="@{/user/insertApprovalView(apdocNo=${approval.apdocNo})}" th:text="${approval.apdocName}"></a></td>
			<td th:utext="${approval.apdocForm}"></td>
		</tr>
	</table>
	</div>
</div><!-- //section end -->

</body>

</html>