<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Project List</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>

<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
<link rel="stylesheet" type="text/css" th:href="@{/css/project/bootstrap-theme.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/project/bootstrap.min.css}">
</th:block>

<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/project/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/project/projectList.js}"></script>
<script type="text/javascript" th:src="@{/js/project/projectRisk.js}"></script>
</th:block>


</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>
<div th:replace="fragments/aside :: asideFragment"></div>

	<!-- //무조건 section 안에서 내용 작성 -->
	<div layout:fragment="content" class="section">
		<h2>프로젝트 위험관리대장 수정페이지</h2>
		<div class="article">
		<input type="hidden" id="sessionRanks" th:value="${sessionRanks}">
		<input type="hidden" id="sessionDeptName" th:value="${sessionDeptName}">
			<div class="table_wrap view">
			<form action="/user/updateProjectRisk" id="updateProjectRiskUpdateForm">
				<table>
			<input type="hidden" name="rskCode" th:value="${rskDto.rskCode}">
					<colgroup class="pc">
						<col width="120px">
						<col width="*">
					</colgroup>
					<tbody>
						<tr>
							<th>제목</th>	
							<td><input type="text" name="rskTitle" th:value="${rskDto.rskTitle}" id="rskTitle"></td>
						</tr>
						<tr>
							<th>내용</th>	
							<td><input type="text" name="rskContent" th:value="${rskDto.rskContent}" id="rskContent"></td>
						</tr>
						<tr>
							<th>해결방안</th>	
							<td><input type="text" name="rskSolution" th:value="${rskDto.rskSolution}" id="rskSolution"></td>
						</tr>
						<tr>
							<th>처리결과</th>	
							<td><input type="text" name="rskResult" th:value="${rskDto.rskResult}" id="rskResult"></td>
						</tr>
						<tr>
							<th>등록일</th>
							<th:block th:if="${today==#dates.format(rskDto.rskReg,'yyyy-MM-dd')}">
								<td th:text="${#dates.format(rskDto.rskReg,'HH:mm')}"></td>
							</th:block>
							<th:block th:unless="${today==#dates.format(rskDto.rskReg,'yyyy-MM-dd')}">
								<td th:text="${#dates.format(rskDto.rskReg,'yyyy-MM-dd')}"></td>
							</th:block>
						</tr>
						<tr>
							<th>작성자</th>	
							<td th:text="${rskDto.rskWriter}"></td>
						</tr>
					</tbody>
				</table>
			</form>
				<div class="btn_wrap">
					<div class="box_right">
						<a class="btn btn_point" th:href="@{/user/selectProjectRiskDetail(rskCode=${rskDto.rskCode})}">취소</a>
						<a class="btn btn_point" onclick="updateProjectRisk()">수정 완료</a>	
						<a class="btn btn_point" th:href="@{/user/selectProjectRiskList}">위험관리대장 목록</a>
					</div>
				</div>
			</div><!-- table_wrap end -->
		</div><!-- article end -->
</div><!-- //section end -->
</body>
</html>