<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>

<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
<link rel="stylesheet" type="text/css" th:href="@{/css/project/sweetalert.css?ver=1.2}">
<link rel="stylesheet" type="text/css" th:href="@{/css/project/bootstrap-theme.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/project/bootstrap.min.css}">
</th:block>

<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/project/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/project/sweetalert.min.js?ver=1}"></script>
<script type="text/javascript" th:src="@{/js/project/projectWbs.js}"></script>
<script type="text/javascript" th:src="@{/js/project/projectList.js}"></script>
<script type="text/javascript" th:src="@{/js/project/calendar.js}"></script>
<script type="text/javascript" th:src="@{/js/project/stringBuffer.js}"></script>
<script type="text/javascript" th:src="@{/js/project/makeRound.js}"></script>
</th:block>

<style>
input[type='text']{
	border: 0px;
	width: 100%;
}
input[type='date']{
	border: 0px;
	width: 100%;
}
 
#prjAttend {
	font-weight: bold;
	text-align: center;
}
</style>
<script>
$(document).ready(function(){
	if($('.prjMems').length > 0){
		$('#projectAttendMembersBtn').hide();
	}
})

// 화면 불러오며 사업비, 계약금에 3자리마다 콤마 찍어 출력
$(document).ready(function(){
	for (i = 0 ; i<$(".commaN").length; i++){
		$(".commaN").eq(i).text(commaNum($(".commaN").eq(i).html()));
	}
})
// 3자리마다 콤마 찍기
function commaNum(num){
	var len, point, str;
	num = num + "";
	point = num.length % 3
	len = num.length;
	
	str = num.substring(0, point);
	while (point < len){
		if(str != "") str += ",";
		str += num.substring(point, point + 3);
		point +=3;
	}
	return str;
}
</script>
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

<div th:replace="fragments/aside :: asideFragment"></div>

<!-- //무조건 section 안에서 내용 작성 -->
<div layout:fragment="content" class="section">
	<div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>프로젝트명</th><td th:text="${prjInfo.prjName}"></td>
		</tr>
		<tr>
			<th>PM</th><td>PM 추가해주세요</td>
		</tr>
		<tr>
			<th>계약금</th><td th:text="${prjInfo.prjDeposit}" class="commaN"></td>
			<th>사업비</th><td th:text="${prjInfo.prjWorkingExpenses}" class="commaN"></td>
		</tr>
		<tr>
			<th>시작일</th><td th:text="${prjInfo.prjStart}"></td>
			<input type="hidden" id="prjStart" th:value="${prjInfo.prjStart}">
			<th>종료일</th><td th:text="${prjInfo.prjEnd}"></td>
			<input type="hidden" id="prjEnd" th:value="${prjInfo.prjEnd}">
		</tr>
		<tr>
			<th>마더업체</th><td th:text="${prjInfo.prjMothercompany}"></td>
			<th>참여인원</th><td><input class='btn btn-sm btn-warning btn-center' type="button"
					value="참여인원 리스트" onclick="projectAttendMemberModal()"></td>
		</tr>
		</thead>
	</table>
	
	<input class='btn btn-sm btn-warning btn-center' type="button" value="프로젝트 정보 수정" onclick="projectUpdateModal()">
	<input type="button" value="참여인원 추가" onclick="insertProjectAttendMemberModal()" id="projectAttendMembersBtn" class="btn btn-sm btn-warning btn-center">
	</div>
	<br /><br /><br />
	<form action="#" method="post" id='insertProjectWbsList'>
		<table border="1" class="table table-bordered">
			<thead id='thead'>
			<input type="hidden" name="prjStart" id="prjStart" th:value="${prjInfo.prjStart}">
			<input type="hidden" name="prjEnd" id="prjEnd" th:value="${prjInfo.prjEnd}">
			<input type="hidden" name="prjCode" id="prjCode" th:value="${prjInfo.prjCode}">
				<tr>
					<td rowspan="5"><div style="width: 45px;"></div></td>
					<td rowspan="5"></td>
					<td rowspan="5">
						<div style="width: 450px; height: 100px;">
							<h1>업무구분</h1>
						</div>
					</td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
					<td rowspan="5"><div style="width: 80px;"></div></td>
				</tr>
				<tr>
				</tr>
				<tr>
				</tr>
				<tr>
				</tr>
				<tr>
				</tr>
				<tr>
					<td><input type='checkbox' onclick='checkAll(this.checked)'/>전체</td>
					<td>
						<button type='button' class='btn btn-sm btn-info' onclick='createTopList()'>생성</button>
					</td>
					<td align="center">WBS 작업 목록</td>
					<td>작업 시작일</td>
					<td>작업 종료일</td>
					<td>담당자</td>
					<td>산출물</td>
					<td>진행률</td>
				</tr>
			</thead>
			<tbody id='tbody'>
			</tbody>
		</table>
		<input class="btn btn-sm btn-warning btn-center" type="button" value="저장" onclick="insertProjectWbsList()">
		<input class="btn btn-sm btn-warning btn-center" type="button" value="프로젝트 목록" onclick="location.href='/user/selectProjectList'">
		 <input class='btn btn-sm btn-warning btn-center' type='button' value='작업 삭제' onclick='checkListRemove()'>
	</form>
	
	<!-- 프로젝트 정보 수정 모달 -->
	<div class="modal fade" id="projectUpdateModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 id="prjAttend">프로젝트 정보 수정</h4>
				</div>
				<div class="modal-body">
					<form action="/user/updateProject" method='post'
						id='frmUpdateProjcet'>
						<div class='form-group'>
						<input type="hidden" name="prjCode" id="prjCode" th:value="${prjInfo.prjCode}" />
							<label>프로젝트명</label>
							<input class='form-control' type="text" name='prjName' id='prjName' th:value="${prjInfo.prjName}"/>
						</div>
						<div class='form-group'>
							<label>계약금</label>
							<input class='form-control' type="number" name='prjDeposit' id='prjDeposit' th:value="${prjInfo.prjDeposit}"/>
						</div>
						<div class='form-group'>
							<label>사업비</label>
							<input class='form-control' type="number" name='prjWorkingExpenses' id='prjWorkingExpenses' th:value="${prjInfo.prjWorkingExpenses}"/>
						</div>
						<div class='form-group'>
							<label>시작일</label>
							<input class='form-control' type="date" name='prjStart' id='prjStart' th:value="${prjInfo.prjStart}" />
						</div>
						<div class='form-group'>
							<label>종료일</label>
							<input class='form-control' type="date" name='prjEnd' id='prjEnd' th:value="${prjInfo.prjEnd}"/>
						</div>
						<div class='form-group'>
							<label>마더업체</label>
							<input class='form-control' type="text" name='prjMothercompany' id='prjMothercompany' th:value="${prjInfo.prjMothercompany}"/>
						</div>
						<div class='modal-footer'>
							<input type="button" class='btn btn-sm btn-warning' value="확인" onclick="updateProject()" />
							<input type="reset" class='btn btn-sm btn-warning' value="초기화" />
							<input type='button' class='btn btn-sm btn-warning' data-dismiss='modal' value="취소" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 프로젝트 참여인원 추가 모달 -->
	<div class="modal fade" id="insertProjectAttendMemberModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 id="prjAttend">프로젝트 참여인원</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
					<tr>
						<th><input type="checkbox" name="allCheckBox" id="allCheckBox"></th>
						
						<th>이름</th>
						<th>부서</th>
						<th>팀</th>
						<th>직급</th>
					</tr>
					<tr th:each="worker : ${members}">
						<td><input type="checkbox" name="memId" calss="checkBox" th:value="${worker.memId}"></td>
							
							<td th:text="${worker.memName}"></td>
							<td th:text="${worker.deptName}"></td>
							<td th:text="${worker.teamName}"></td>
							<td th:text="${worker.ranks}"></td>
							<td><input type="hidden" name="prjCode" id="prjCode" th:value="${prjInfo.prjCode}"></td>
					</tr>
					<br />
					<button type="button" class="insertProjectAttendMembersBtn">프로젝트 참여인원 선택 완료</button>					
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 프로젝트 참여인원 확인 모달 -->
	<div class="modal fade" id="projectAttendMemberModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 id="prjAttend">프로젝트 참여인원</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
					<tr>
						<th>이름</th>
						<th>부서</th>
						<th>직급</th>
					</tr>
					<tr th:each="memInfos : ${memInfos}">
						<div class="form-group">
						<td class="prjMems" th:text="${memInfos.memName}"></td>
						<td th:text="${memInfos.deptName}"></td>
						<td th:text="${memInfos.ranks}"></td>
						</div>
					</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div><!-- //section end -->
</body>
</html>