<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>익명게시판 목록페이지</title>
</head>
<body>
<table>
	<tr>
		<td>번호</td>
		<td>제목</td>
		<td>날짜</td>
		<td>조회수</td>
	</tr>
	<tr th:each="anonymousBoard:${anonymousBoardList}">
		<td th:text="${anonymousBoard.bno}"></td>
		<td style="text-align: left;"><span th:each="num:${#numbers.sequence(1,${anonymousBoard.bindent})}"><span>&nbsp;</span></span>
			<span th:if="${anonymousBoard.bindent>0 }">
				<a th:href="@{/user/selectAnonymousBoard(bno=${anonymousBoard.bno})}" th:text="re:${anonymousBoard.btitle}">re:dto.bTitle</a>
			</span>
			<span th:unless="${anonymousBoard.bindent>0 }">
				<a th:href="@{/user/selectAnonymousBoard(bno=${anonymousBoard.bno})}" th:text="${anonymousBoard.btitle}"></a>
			</span>
		</td>
		<td th:text="${anonymousBoard.bdate}"></td>
		<td th:text="${anonymousBoard.bcnt}"></td>
	</tr>
	<tr>
		<td colspan="4">
			<a th:href="@{/user/insertAnonymousBoardView">글작성</a>
		</td>
	</tr>
</table>
</body>
</html>