<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>익명게시판 수정페이지</title>
</head>
<body>
<form action="/user/updateAnonymousBoard" id="update">
	<input type="hidden" name="bno" id="bno" th:value="${anonymousBoard.bno}">
	<input type="hidden" name="bgroup" th:value="${anonymousBoard.bgroup}">
	<input type="hidden" name="bstep" th:value="${anonymousBoard.bstep}">
	<input type="hidden" name="bindent" th:value="${anonymousBoard.bindent}">
	<input type="hidden" name="bcnt" th:value="${anonymousBoard.bcnt}">
	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
		<tr>
			<td bgcolor="orange">번호</td>
			<td th:text="${anonymousBoard.bno}"></td>
		</tr>
		<tr>
			<td bgcolor="orange">조회수</td>
			<td th:text="${anonymousBoard.bcnt}"></td>
		</tr>
		<tr>
			<td bgcolor="orange">제목</td>
			<td><input type="text" name="btitle" th:value="${anonymousBoard.btitle}"></td>
		</tr>
		<tr>
			<td bgcolor="orange">내용</td>
			<td><textarea name="bcontent" rows="10" th:text="${anonymousBoard.bcontent}"></textarea></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="수정하기">
				<a th:href="@{/user/selectAnonymousBoardList}">목록보기</a>
			</td>
		</tr>
	</table>
</form>
</body>
</html>