<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>휴가 및 근태</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>
	<script>
		$(document).ready(function(){
			$('#startDate').change(function(){
				$("#endDate").attr('min', $('#startDate').val());
			});
		});
		$(document).ready(function(){
			$('#endDate').change(function(){
				$("#startDate").attr('max', $('#endDate').val());
			});
		});
	</script>
	<script>
		function selectCommute() {
			var selectCommute = document.searchCommuteForm;
			
			selectCommute.action = "/user/selectCommuteList"
			selectCommute.method = "post"
			selectCommute.submit();
		}
	</script>
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

<div th:replace="fragments/aside :: asideFragmentMypage"></div>

<!-- //무조건 section 안에서 내용 작성 -->
<div layout:fragment="content" class="section">
<h2>근태 및 휴가</h2>
	<form name="searchCommuteForm">
		<div class="board_search">
			<div class="board_search_inner">
				<div class="calendar_wrap">
					<ul>
						<li><input type="date" id="startDate" name="startDate"><label for="startDate" class="btn_calendar"></label></li>
						<li class="wave">~</li>
						<li><input type="date" id="endDate" name="endDate"><label for="endDate" class="btn_calendar"></label></li>
					</ul>
				</div>
				<div class="search">
					<a href="#" class="btn_search" th:onclick="javascript:selectCommute()">검색</a>
				</div>
			</div>
		</div><!-- //board_search -->
	</form>
	<div class="article">
	<form>
		<div class="table_wrap list">
			<table>
				<colgroup>
					<col width="*">
					<col width="*">
					<col width="*">
					<col width="*">
				</colgroup>
				<thead>
					<tr>
						<th>날짜</th>
						<th>출근시간</th>
						<th>퇴근시간</th>
						<th>비고</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="commute : ${commuteList}">
						<td th:text="${commute?.commuteDate}"></td>
					<td th:text="${commute?.commuteOntime}"></td>
					<td th:text="${commute?.commuteOfftime}"></td>
					<td th:text="${commute?.commuteStatus}"></td>
					</tr>
				</tbody>
			</table>
		</div><!-- //table_wrap end -->	
	</form>
	</div>
</div><!-- //section end -->
</body>
</html>