<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>휴가 및 근태</title>
</head>
<body th:align="center">
	<h1>휴가 및 근태</h1>
	<form>
		<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
			<tr>
				<td>
					<input type="date">
					<input type="date">
				</td>
				<td>
					<input type="checkbox" th:text="출근">
					<input type="checkbox" th:text="지각">
					<input type="checkbox" th:text="조퇴">
					<input type="checkbox" th:text="결근">
					<input type="checkbox" th:text="휴가">
				</td>
				<td>
					<a href="#">검색</a>
				</td>
			</tr>
		</table>
	</form>
	<form>
		<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
			<tr>
				<th th:text="날짜"></th>
				<th th:text="출근시간"></th>
				<th th:text="퇴근시간"></th>
				<th th:text="구분"></th>
			</tr>
		</table>	
	</form>
</body>
</html>