<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">

<!-- 공통 CSS -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet">
<link th:href="@{/css/common/common.css}" rel="stylesheet">
<link th:href="@{/css/common/layout.css}" rel="stylesheet">

<!-- 컨텐츠 페이지 CSS 삽입 -->
<th:block layout:fragment="css"></th:block>

<!-- 공통 JS -->
<script th:src="@{/js/common/jquery-3.4.1.js}"></script>

<!-- 컨텐츠 페이지 JS 삽입 -->
<th:block layout:fragment="script"></th:block>

</head>
</html>
