<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">

<!-- 공통 CSS -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet">
<link th:href="@{/css/common/common.css}" rel="stylesheet">
<link th:href="@{/css/common/layout.css}" rel="stylesheet">
<link th:href="@{/css/common/jquery-ui.css}" rel="stylesheet">

<!-- 공통 JS -->
<script type="text/javascript" th:src="@{/js/common/jquery-1.9.1.js}"></script>
<script type="text/javascript" th:src="@{/js/common/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/common/run.js}"></script>

</head>
</html>
