<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>사원 목록 (관리자)</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script>
$(document).ready(function() {
	$("#allCheckBox").click(function(){
		var chk = $("#allCheckBox").prop("checked");
		if(chk){
			$(".checkBox").prop("checked",true);
		}else{
			$(".checkBox").prop("checked",false);
		}
	});
	$(".checkBox").click(function(){
		$("#allCheckBox").prop("checked",false);
	});
	$(".deleteBtn").click(function(){
		var confirm_val = confirm("정말 삭제하시겠습니까?");
		if(confirm_val){
			var checkBoxArr = new Array();
			$("input[class='checkBox']:checked").each(function(){
				checkBoxArr.push($(this).val());
			})
			$.ajax({
				url:"/admin/deleteMemberCheckBox",
				type:"post",
				data:{checkBoxArr:checkBoxArr},
				success:function(result){
					alert(result);
					location.href="/admin/selectMemberList";
				}
			});
		}
	});
});
</script>
</head>
<body th:align="center">
	<h1>사원 목록</h1>
	<table th:align="center" border="1" th:cellpadding="0" th:width="700">
		<tr>
			<th><input type="checkbox" name="allCheckBox" id="allCheckBox"></th>
			<th>이름</th>
			<th>사원번호</th>
			<th>직급</th>
			<th>부서</th>
			<th>팀</th>
			<th>전화번호</th>
			<th>내선번호</th>
			<th>재직현황</th>
		</tr>
		<tr th:each="member : ${memberList}">
			<td><input type="checkbox" name="checkBox" class="checkBox" th:value="${member.memId}"></td>
			<td><a th:href="@{/admin/updateMemberView(memId=${member.memId})}" th:text="${member.memName}"></a></td>
			<td th:text="${member.memId}">
			<td th:text="${member.ranks.ranks}">
			<td th:text="${member.department?.deptName}">
			<td th:text="${member.team?.teamName}">
			<td th:text="${member.memTel}">
			<td th:text="${member.memOfficeTel}">
			<td th:text="${member.memStatus}">
		</tr>
	</table>
	<button type="button" class="deleteBtn">삭제</button>
	<a th:href="@{/admin/insertMemberView}">사원 등록</a>
</body>
</html>