/* header */
.header{width:100%;height:60px;background:#fff;}
.header::after{content:'';display:block;clear:both;}
.header .logo{float:left;width:240px;height:60px;line-height:60px;text-align:center;}
.header .logo a{font-size:25px;font-weight:600;}
.header .gnb{float:left;height:60px;line-height:60px;text-align:center;}
.header .gnb::after{content:'';display:block;clear:both;}
.header .gnb li{float:left;}
.header .gnb li a{display:block;padding:0px 15px;box-sizing:border-box;}
.header .userInfo{float:right;padding: 10px;box-sizing: border-box;}
.header .userInfo::after{content:'';display:block;clear:both;}
.header .userInfo li{float:left;}
.header .userInfo li a{display:block;padding: 10px 15px;box-sizing:border-box;}
.header .userInfo .commute{display:none;}
.header .userInfo .commute.on{display:block;}
.header .userInfo .commute a{background:#27b6af;color:#fff;border-radius:5px;}

/* aside */
.aside{position:absolute;width:240px;min-height:100%;background:#1d212a;}
.aside_tit{width:100%;height:150px;background:#3a4150;text-align:center;}
/* .aside_tit a{display:block;padding:10px 15px;box-sizing:border-box;color:#fff;font-size:20px;background:#3a4150;} */
.aside_con{padding:10px;box-sizing:border-box;}
.aside_con .dep1{margin:5px 0;text-align:left;}
.aside_con .dep1 > a{display:block;padding:9px 10px;box-sizing:border-box;font-size:15px;color:#fff;border-radius:5px;}
.aside_con .dep1 > a:hover{background:#fff;color:#1d212a;}
.aside_con .dep1.have > a{background:url(/images/menu_arrow.png) right center no-repeat;background-size:11%;}
.aside_con .dep1.have > a:hover{background:#fff url(/images/menu_arrow.png) right center no-repeat;background-size:11%;color:#1d212a;}
.aside_con .dep1.on > a:focus,
.aside_con .dep1.have.on > a:active{background:#27b6af url(/images/menu_arrow_on.png) right center no-repeat;background-size:11%;color:#fff;}
.aside_con .dep1.have.on > a{}
.aside_con .dep1.have .dep2ul{display:none;}
.aside_con .dep1.have.on .dep2ul{display:block;transition: all 0.1s ease-in-out;}
.aside_con .dep1.have.on .dep2ul a:hover{font-weight:bold;}
.aside_con .dep2ul a{display:block;padding:15px 18px 15px 30px;box-sizing:border-box;font-size:12px;color:#fff;}

.section{position:absolute;width:calc(100% - 240px);height:calc(100vh - 60px);margin-left:240px;background:#F0F3F3;}
.section.no_aside{width:100%;height:calc(100vh - 60px);margin-left:0;background:#F0F3F3;}
.section h2{padding:15px 12px;box-sizing:border-box;background:#f7f7f7;border-bottom:1px solid #dce0e6;font-size:18px;}

.article{width:98%;margin:10px auto;padding:10px 0;box-sizing:border-box;background:#fff;}

/* chat */
.chat_wrap{position:absolute;top:60px;right:0;z-index:9999;}
.chat_wrap::after{content:'';display:block;clear:both;}
.chat_wrap .btn_chat{float:left;width:40px;height:50px;text-align:center;background:#777;box-sizing:border-box;border: 1px solid #555;border-radius: 30% 0px 0px 30%;}
.chat_wrap .btn_chat i{font-size:25px;line-height:50px;color:#fff;}
.chat_wrap .chat_inner{position:fixed;right:-360px;float:left;width:400px;height:calc(100vh - 60px);transition:all 0.5s;}
.chat_wrap .chat_inner::after{content:'';display:block;clear:both;}
.chat_wrap .chat_inner #chatFragment{float:left;}
.chat_wrap .chat_inner #chatFragment::after{content:'';display:block;clear:both;}
.chat_wrap .chat_inner .tab {float:left;width:100px;height:calc(100vh - 60px);background:#3a4150;transition:all 0.5s;}
.chat_wrap .chat_inner .tab ul li{text-align:center;}
.chat_wrap .chat_inner .tab ul li a{display:block;padding:20px;box-sizing:border-box;color:#fff;}
.chat_wrap .chat_inner .info{float:left;width:260px;height:calc(100vh - 60px);background:#fff;;transition:all 0.5s;}
.chat_wrap .chat_inner .info ul li{padding:20px;box-sizing:border-box;border-bottom:1px solid #e2e2e2;}
.chat_wrap .chat_inner .info ul li p{font-weight:700;}