<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta charset="UTF-8">
<!-- 차트  -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	// Load google charts
	google.charts.load('current', {
		'packages' : [ 'corechart' ]
	});
	google.charts.setOnLoadCallback(commuteChart);

	// Draw the chart and set the chart values
	function commuteChart() {
		var commuteStatus = google.visualization.arrayToDataTable([
				[ '근태', '근태 구분별 현황' ], 
				[ '정상', [[${commuteStatusCount[0]}]] ], 
				[ '지각', [[${commuteStatusCount[1]}]] ], 
				[ '조퇴', [[${commuteStatusCount[2]}]] ],
				[ '결근', [[${commuteStatusCount[3]}]] ], 
				[ '휴가', [[${commuteStatusCount[4]}]] ] 
		]);

		// Optional; add a title and set the width and height of the chart
		var commuteStatusOptions = {
			// 'title':'근태 현황', // 타이틀
			'pieHole' : 0.4,
			// 'pieSliceTextStyle': {
			//	color: 'black',
			// }, // 글자 색
			'legend' : 'none', // 범례옵션
			'width' : 400,
			'height' : 400
		};

		// Display the chart inside the <div> element with id="piechart"
		var commuteChart = new google.visualization.PieChart(document.getElementById('commuteChart'));
		commuteChart.draw(commuteStatus, commuteStatusOptions);
	}
</script>
<!-- 차트 끝 -->
<title>메인페이지</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>

</head>
<body>
	<div th:replace="fragments/header :: headerFragment"></div>

	<!-- //무조건 section 안에서 내용 작성 -->
	<div layout:fragment="content" class="section no_aside">
		<div class="article">
			<div class="table_wrap list">
				<table>
					<colgroup>
						<col width="200px">
						<col width="*">
						<col width="200px">
					</colgroup>
					<thead>
						<tr>
							<th>분류</th>
							<th>제목</th>
							<th>등록시간</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="notice:${noticeList}">
							<td th:text="${notice.ntCate}"></td>
							<td><a th:href="@{/user/selectNotice(ntNo=${notice.ntNo})}"
								th:text="${notice.ntTitle}"></a></td>
							<div th:if="${today==#dates.format(notice.ntDate,'yyyy-MM-dd')}">
								<td th:text="${#dates.format(notice.ntDate,'HH:mm')}"></td>
							</div>
							<div
								th:unless="${today==#dates.format(notice.ntDate,'yyyy-MM-dd')}">
								<td th:text="${#dates.format(notice.ntDate,'yyyy-MM-dd')}"></td>
							</div>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //table_wrap end -->
		</div>

		<div class="article">
			<div class="table_wrap list">
				<!-- 그래프 적용 시작 -->
				<div id="commuteChart"></div>
				<!-- 그래프 적용 끝 -->
				<table>
					<colgroup>
						<col width="*">
						<col width="*">
						<col width="*">
						<col width="*">
						<col width="*">
						<col width="*">
					</colgroup>
					<thead>
						<tr>
							<th>정상</th>
							<th>지각</th>
							<th>조퇴</th>
							<th>결근</th>
							<th>휴가</th>
							<th>총</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:each="statusCount:${commuteStatusCount}"
								th:text="${statusCount}"></td>
							<td th:text="${#lists.size(commuteTotalCount)}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- //section end -->
</body>
</html>