<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout/default">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>

</head>
<body>
	<div th:replace="fragments/header :: headerFragment"></div>

	<!-- //무조건 section 안에서 내용 작성 -->
	<div layout:fragment="content" class="section no_aside">
	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
		<tr>
			<th>분류</th>
			<th>제목</th>
			<th>등록시간</th>
		</tr>
		<tr th:each="notice:${noticeList}">
			<td th:text="${notice.ntCate}"></td>
			<td>
				<a th:href="@{/user/selectNotice(ntNo=${notice.ntNo})}" th:text="${notice.ntTitle}"></a>
			</td>
			<div th:if="${today==#dates.format(notice.ntDate,'yyyy-MM-dd')}">
				<td th:text="${#dates.format(notice.ntDate,'HH:mm')}"></td>
			</div>
			<div th:unless="${today==#dates.format(notice.ntDate,'yyyy-MM-dd')}">
				<td th:text="${#dates.format(notice.ntDate,'yyyy-MM-dd')}"></td>
			</div>
		</tr>
	</table>
	</div> <!-- //section end -->
</body>
</html>